<section class="row pager">
	<%= link_to 'Catégories', admin_categories_path, :class => 'btn btn-xs btn-gray' %>
	<%= link_to 'Fenêtres', admin_windows_path, :class => 'btn btn-xs btn-gray' %>
	<%= link_to 'Portes d''entrée', admin_doors_path, :class => 'btn btn-xs btn-gray' %>
	<%= link_to 'Porte de garage', admin_garages_path, :class => 'btn btn-xs btn-gray' %>
	<%= link_to 'Portail', admin_portals_path, :class => 'btn btn-xs btn-gray' %>
	<%= link_to 'Volets', admin_shutters_path, :class => 'btn btn-xs btn-gray' %>
	<%= link_to 'Stores', admin_stores_path, :class => 'btn btn-xs btn-gray' %>
	<%= link_to 'Agenda', admin_agendas_path, :class => 'btn btn-xs btn-gray' %>
</section>