<h1 class="text-center">Stores</h1>

<%= render 'admin/links' %>

<hr>

<%= link_to 'Nouveau store', new_admin_store_path, class: 'btn btn-lg btn-success center-block' %>

<% @stores.each do |store| %>
	<div class="media">
	  <div class="media-left">
	      <%= image_tag store.image.url(:small) %>
	  </div>
	  <div class="media-body">
	  	<h2><%= store.category.libelle %></h2>
	  	<table class="table">
		  	<tr>
	        	<td><%= link_to 'Modifier', edit_admin_store_path(store), class: 'btn btn-default' %></td>
	        	<td><%= link_to 'Supprimer', admin_store_path(store), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        	</tr>
	  	</table>
	    
		
	  </div>
	</div>
<% end %>

<br><br>
<%= link_to 'Retour', admin_index_path, class: 'btn btn-lg btn-primary center-block' %>