<div class="jumbotron">
  <div class="head big text-center" style="background-color:#787878;padding-top: 19px;">Contact</div>

  <hr>
  <div id="contact">
    <div class="row">
      <div class="col-md-4">
        <address class="text-center">
          <h2 class="bleu glyphicon glyphicon-pushpin"></h2><br>
          <strong>Adresse</strong><br>
          55 Avenue du Général Foy<br>
          Amiens, 80 000<br>
        </address>
      </div>
      <div class="col-md-4">
        <address class="text-center">
          <h2 class="rouge glyphicon glyphicon-earphone"></h2><br>
          <strong>Téléphone</strong>
          <br>
          <a href="tel:0322955685">03.22.95.56.85</a>
        </address>
      </div>
      <div class="col-md-4">
        <address class="text-center">
          <h2 class="vert glyphicon glyphicon-envelope"></h2><br>
          <strong>Mail</strong>
          <br>
          <a href="mailto:lainefermetures@sfr.fr">lainefermetures@sfr.fr</a>
        </address>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center">Contactez-nous</h3>

        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
          <%= f.input :lastname, label: false, :required => true %>
          <%= f.input :firstname, label: false, :required => true %>
          <%= f.input :email, label: false, :required => true %>
          <%= f.input :message, label: false, :as => :text, :required => true %>
          <div class= "hidden">
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
          <div>
            </br>
            <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <h3 class="text-center">Situez-nous</h3>
        
        <div class="col-md-6">
          <div id="map" style='width: 500px; height: 400px;'></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 49.891334, lng: 2.283888},
      scrollwheel: false,
      zoom: 18
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn6gN1iKm0G4I9wseJZo_iX7o4d_hlVU4&callback=initMap" async defer>
</script>