<h1 class="text-center">Contact</h1>

<hr>

<div class="row">
  <div class="col-xs-4">
    <address class="text-center">
      <h2 class="bleu glyphicon glyphicon-pushpin"></h2><br>
      <strong>Adresse</strong><br>
      55 Avenue du Général Foy<br>
      Amiens, 80 000<br>
    </address>
  </div>
  <div class="col-xs-4">
    <address class="text-center">
      <h2 class="rouge glyphicon glyphicon-earphone"></h2><br>
      <strong>Téléphone</strong>
      <br>
      <a href="tel:0322955685">03.22.95.56.85</a>
    </address>
  </div>
  <div class="col-xs-4">
    <address class="text-center">
      <h2 class="vert glyphicon glyphicon-envelope"></h2><br>
      <strong>Mail</strong>
      <br>
      <a href="mailto:lainefermetures@sfr.fr">lainefermetures@sfr.fr</a>
    </address>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h3 class="text-center">Contactez-nous</h3>

    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :lastname, label: false, :required => true %>
      <%= f.input :firstname, label: false, :required => true %>
      <%= f.input :email, label: false, :required => true %>
      <%= f.input :message, label: false, :as => :text, :required => true %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h3 class="text-center">Situez-nous</h3>
    
    <div style='width: 800px;'>
      <div id="map" style='width: 500px; height: 400px;'></div>
    </div>
  </div>
</div>

<script async defer src="//maps.google.com/maps/api/js?v=3.18&sensor=false&libraries=geometry&callback=initMap"></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<script>
  function initMap() {
    var myLatLng = {lat: 49.891334, lng: 2.283888};

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: false,
      zoom: 18
    });

    // // Create a marker and set its position.
    // var marker = new google.maps.Marker({
    //   map: map,
    //   position: myLatLng,
    //   title: 'Hello World!'
    // });
  }
</script>