<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Lainé fermetures</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png", :alt =>  "Lainé Fermetures", :class =>"navbar-brand"), root_path, class: "navbar-brand" %>
    </div> <!-- end div class="navbar-header" -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="windows"><a href="/windows"><span class="pont bleu">D</span> Fenêtres</a></li>
        <li class="dropdown doors garages portals">
          <a href="#"><span class="pont rouge">D</span> Portes <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/doors">Portes d'entrée</a></li>
            <li><a href="/garages">Portes de garage</a></li>
            <li><a href="/portals">Portails</a></li>
          </ul>
        </li>
        <li class="shutters"><a href="/shutters"><span class="pont vert">D</span> Volets</a></li>
        <li class="stores"><a href="/stores"><span class="pont jaune">D</span> Stores</a></li>
        <li class="contacts"><a href="/contacts"><%= image_tag("contact.png", alt: "Contact", width: '16') %> Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nopadding"><%= image_tag("artisan.png", alt: "Artisan") %></li>
        <li class="nopadding"><%= image_tag("rge.png", alt: "RGE") %></li>
        <li class="nopadding"><a href="https://www.facebook.com/laine.fermetures" target="_blank"><%= image_tag("facebook.png", alt: "Facebook") %></a></li>
        <li class="nopadding"><a href="http://www.bubendorff.fr" target="_blank"><%= image_tag("bubendorff.png", alt: "Bubendorff") %></a></li>
        <li class="nopadding"><a href="https://www.winsol.fr" target="_blank"><%= image_tag("winsol.png", alt: "Winsol") %></a></li>
      </ul>
    </div> <!-- end div class="collapse navbar-collapse" -->
  </div> <!-- end div class="container" -->
</div>