<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Lainé fermetures</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png", :alt =>  "Lainé Fermetures", :class =>"navbar-brand"), root_path, class: "navbar-brand" %>
    </div> <!-- end div class="navbar-header" -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/windows"><%= image_tag("window.png", alt: "Windows", width: '24') %> Fenêtres</a></li>
        <li class="dropdown">
          <a href="#"><%= image_tag("porte.png", alt: "Doors", height: '24') %> Portes <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/doors">Portes d'entrée</a></li>
            <li><a href="/garages">Portes de garage</a></li>
            <li><a href="/portals">Portails</a></li>
          </ul>
        </li>
        <li><a href="/shutters"><%= image_tag("volet.png", alt: "Shutters", width: '24') %> Volets</a></li>
        <li><a href="/stores"><%= image_tag("store.png", alt: "Stores", width: '24') %> Stores</a></li>
        <li><a href="/contacts"><%= image_tag("contact.png", alt: "Contact", width: '24') %> Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li class="nopadding"><%= image_tag("artisan.png", alt: "Artisan") %></li>
        <li class="nopadding"><%= image_tag("rge.png", alt: "RGE") %></li>
	<li class="nopadding"><a href="http://facebook.lainefermetures.com" target="_blank"><%= image_tag("facebook.png", alt: "Facebook") %></a></li>
        <li class="nopadding"><%= image_tag("bubendorff.png", alt: "Bubendorff") %></li>
        <li class="nopadding"><a href="https://www.winsol.fr" target="_blank"><%= image_tag("winsol.png", alt: "Winsol") %></a></li>
      </ul>
    </div> <!-- end div class="collapse navbar-collapse" -->
  </div> <!-- end div class="container" -->
</div> <!-- end div class="navbar navbar-default navbar-fixed-top" -->
