<!DOCTYPE html>
<html>
<head>
  <title>Laine fermetures</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Installée depuis quelques années à AMIENS, l’entreprise LAINÉ FERMETURES est votre spécialiste des volets roulants Bubendorff, nous intervenons sur AMIENS et ses alentours. Nos équipes sont agréées et formées aux produits Bubendorff, la marque de référence en fabrication française de volets roulants électriques.">
  <meta name="keywords" content="Bâtiment,Rénovation,Fenêtre,Fenêtre Amiens,Fenêtre Somme,Fenêtre PVC,Fenêtre aluminium,Fenêtre alu,Fenêtre pvc Amiens,Fenêtre alu Amiens,Porte,Porte d’entrée,Porte-fenêtre,Porte Amiens,Porte Somme,Porte de garage,Porte de garage Amiens,Volet,Volet Amiens,Volet Somme,Volet roulant,Volet électrique,Volet battant,Store,Velux,Volet velux,Amiens,Somme,Picardie,Projet,PVC,Aluminium,Bois,Installation,Artisan,Qualibat,RGE,Qualibat RGE,Bubendorff,Point conseil,Winsol,Coulissant,Porte coulissante,Vérandas,Aménagement,Menuisier,Professionnel,Fermetures,Habitation"> 
</head>
<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/messages' %>
		<div class="container">
			<div class="jumbotron">
				<%= yield %>
			</div>
		</div>
</body>
</html>

<script>
	$('.alert').delay(4000).fadeOut();
</script>